.App-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: system-ui;
  background-image: url("https://i.pinimg.com/originals/95/58/b9/9558b95660d31cdbfb19167da2a707f4.gif");
  background-size: cover;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  width: 500px;
  padding-bottom: 25px;
}

.App-content {
  margin-top: 8px;
  margin-bottom: 8px;
}

.App-actions {
  margin-top: 8px;
  margin-bottom: 8px;
}
